@media (max-width:320px) {

}

@media (max-width:480px) {

}

@media (max-width:600px) {

}

@media (max-width:800px) {
    .page-screen {
        justify-content: center;
        align-items: center;
    }

    .page-aside {
        position: fixed;

        flex-grow: 2;

        width: 95%;
        height: 75%;

        border-color: #141517;
        border-style: solid;
        border-width: 4px;
        border-radius: 16px;

        padding: 12px;
    }

    .page-main {
        height: 100%;
    }
}

@media (max-width:900px) {

}