/* ==================== */
/* FORM */
form {
    display: flex;

    flex-direction: column;

    padding: 8px;
}

/* ==================== */
/* FIELDSET */
fieldset {
    display: flex;
    flex-direction: column;

    padding: 32px;
    margin: 16px 0px 16px 0px;

    border-radius: 8px;
    border-color: #1e1f22;
    border-style: solid;
}

fieldset legend {
    padding: 0px 16px 0px 16px;

    font-size: 18px;
    font-weight: bolder;
}

/* ==================== */
/* LABEL */
label {
    color: #a8bac1;

    font-size: 16px;
    font-weight: bolder;
}

/* ==================== */
/* SELECT */
select {
    color: #dbd2b1;

    font-weight: bold;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    border-style: none;
    border-radius: 8px;

    background-color: #1e1f22;

    /* Disable text selection. */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

option {
    color: #dbd2b1;
    
    font-size: 18px;

    padding: 12px 20px;
}