/* =================== */
/* DEFAULT */
.btn {
    display: inline-block;

    width: auto;
    height: auto;

    padding: 8px;
    margin: 4px;
    
    cursor: pointer;

    border-width: 2px;
    border-style: solid;
    border-radius: 8px;

    font-size: 17px;
    font-weight: bold;

    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}

.btn:active {
    transform: translateY(1px);
}

.btn:disabled {
    opacity: 0.5;
}

/* =================== */
/* SETTINGS */
.btn-nil {
    color: #777f88;
    background-color: transparent;
    border-color: #21262d;
}

.btn-primary-default {
    color: white;
    background-color: #5865f2;
}

.btn-primary-success {
    color: white;
    background-color: #43b581;
}

.btn-secondary {
    color: white;
    background-color: #4f545c;
}

.btn-destructive {
    color: white;
    background-color: #f04747;
}