form {
    display: flex;

    flex-direction: column;

    padding: 8px;
}

fieldset {
    display: flex;
    flex-direction: column;

    padding: 32px;
    margin: 16px 0px 16px 0px;

    border-radius: 8px;
    border-color: #262f3b;
    border-style: solid;
}

fieldset legend {
    padding: 0px 16px 0px 16px;

    font-size: 16px;
    font-weight: bolder;
}

label {
    font-size: 18px;
}

select {
    color: #c9d1c3;

    font-weight: bold;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    border-color: #494e57;
    border-radius: 8px;

    background-color: #21262d;
}

option {
    color: #c9d1c3;
    
    font-size: 18px;

    padding: 12px 20px;
}

input {
    color: black;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
}