.credits-row {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    margin-bottom: 12px;
    justify-content: center;

    border-radius: 12px;

    background-color: #2b2d31;
}

.credits-square {
    display: flex;

    flex-direction: column;

    justify-content: center;
    justify-items: center;

    padding: 8px;

    margin: 12px;

    width: 128px;
    height: 128px;

    cursor: pointer;

    background-color: #1e1f22;

    border-width: 2px;
    border-style: solid;
    border-color: #0e0e0f;
    border-radius: 8px;
}

.ce-username {
    text-align: center;
    font-weight: bolder;

    width: 100%;
    height: 20%;

    margin-top: 12px;
}

/* ================ */
/* FRIENDS */
.ce-avatar {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
}

.ce-avatar-border {
    border-width: 2px;
    border-style: solid;
    border-color: #0e0e0f;
    border-radius: 8px;
}

.ce-avatar-starciad {
    background-image: url("../../../assets/graphics/avatars/starciad_avatar.webp");
    background-size: cover;
}

.ce-avatar-insanya {
    background-image: url("../../../assets/graphics/avatars/insanya_avatar.webp");
    background-size: cover;
}

.ce-avatar-focsi {
    width: 100px;
    height: 100px;

    background-image: url("../../../assets/graphics/avatars/focsi_avatar.webp");
    background-size: contain;

    border-radius: 100%;

    scale: 1.2;
}

.ce-avatar-igorup {
    background-image: url("../../../assets/graphics/avatars/igor_up.webp");
    background-size: cover;
}