/* ==================== */
/* MAIN */
.app {
    display: flex;

    flex-direction: column;

    padding: 32px;
    width: 100%;
    height: 100%;

    background-color: #0d1117;
}

/* ==================== */
/* MENU */
.app-menu {
    padding: 16px;

    height: 100%;
    width: 100%;
}

/* GROUP */
.app-menu-group {
    display: flex;

    flex-direction: column;

    padding: 16px;

    height: auto;
    width: 100%;

    margin-top: 16px;
    margin-bottom: 32px;

    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #1e1f22;
}

.app-menu-group-title {
    display: flex;

    flex-direction: column;

    font-weight: bold;

    text-align: center;
    text-anchor: middle;

    padding: 4px;

    margin-top: -28px;
    margin-bottom: 8px;

    border-radius: 4px;

    background-color: #1e1f22;
}

/* BUTTONS */
.app-menu-btn {
    width: 100%;
    height: auto;

    text-align: start;
    
    font-weight: bolder;
    font-size: medium;

    border-radius: 8px;
    border-style: none;

    margin-top: 2px;
    margin-bottom: 2px;

    padding: 8px;

    background-color: transparent;
}

.app-menu-btn-selected {
    background-color: #35373c;
}

.app-menu-btn:hover {
    background-color: #35373c;
}

.app-menu-btn:active {
    background-color: #3f4248;
}

/* ==================== */
/* SECTIONS */
.app-sections {
    width: 100%;
    height: 100%;

    padding: 16px;
}